@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --brand-red: 0, 100%, 67%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --brand-red: 0, 100%, 67%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

    font-family: "Clash Display", "Courier New", Courier, monospace;
  }
  .grainy {
    background-image: url("../assets/grainy.svg");
    background-repeat: repeat;
    background-size: 50px;
  }
  .grainy-dark {
    background-image: url("../assets/grainy2.svg");
    background-repeat: repeat;
    background-size: 50px;
  }
  .download-background {
    @apply bg-background text-foreground;
    background-image: url("../assets/download_img.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplayExtralight.otf") format("opentype");
  font-weight: 200; /* Example weight for extralight */
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplayLight.otf") format("opentype");
  font-weight: 300; /* Example weight for light */
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplayRegular.otf") format("opentype");
  font-weight: 400; /* Example weight for regular */
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplayMedium.otf") format("opentype");
  font-weight: 500; /* Example weight for medium */
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplaySemibold.otf") format("opentype");
  font-weight: 600; /* Example weight for semi-bold */
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplayBold.otf") format("opentype");
  font-weight: 700; /* Example weight for bold */
}
